<main>
    <div class="search-card-center">
        <h1>Welcome!</h1>
        <p>Discover the best tourist attractions.</p>
        <form id="search-form" method="POST" action="/attractions/Search">
            <input id="search-bar" type="text" name="searchTerm" class = "searchFields" placeholder="Search for tourist attractions"/>
            <button type="submit" id="serach-button">Search</button>
        </form>
    </div>
</main>

<script type="text/javascript">
localStorage.clear('pageDeriveFrom');
localStorage.clear('attractionIdToAdd');
</script>