<h1>{{searchTerm}}</h1>
<div>
    <ul>
        {{#each attractions}}

            <li>
                <a href = "/attractions/{{this._id}}">{{this.description.Name}}</a>
            </li>
        {{/each}}
    </ul>
</div>