<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourism Web</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        {{!-- <a href="/travelogues" >Travelogues</a> --}}
        {{#if loggedIn}}
        <a href="/users/private">Manage</a>
        <a href="/users/logout">Logout</a>
        {{else}}
        <a href="/users" >LogIn/signUp</a>
        {{/if}}
    </nav>
    {{{body}}}
</body>
</html>