<h1 id="travelogueEditorTitle">Share your own unique experience~!</h1>
<div id="travelogueEditor">
<form method="get" id="travelogueForm">
    <div class="tool-bar">
            <button type="button" id="btn1">Bold</button>
            <button type="button" id="btn2">Hyperlink</button>
            <button type="button" id="btn3">Image</button>
    </div>
    <div id="hyperlink_bar" hidden>
            <label for="hyper_link">please input the url for the selected text</label>
            <input type="url" id="hyper_link">
            <button type="button" id="submit_hyper_link">submit</button>
            <button type="button" id="cancel_hyper_link">cancel</button>
    </div>
    <div id="img_bar" hidden>
            <label for="img_link">please input the url for input image</label>
            <input type="url" id="img_link">
            <button type="button" id="submit_img_link">submit</button>
            <button type="button" id="cancel_img_link">cancel</button>
    </div>
    <div class="travelogueTitle">
        <label for="travelogueTitle">Title:</label>
        <input type="text" id="travelogueTitle" name="travelogueTitle">
    </div>
    <div id="editor" class="editor" contenteditable="true" name="travelogueContent"></div>   
    <div>
    <button type="submit" class="searchbtn" id="travelogue_submit_btn">submit</button>
    </div>
</form>
</div>
<script>
        btn1.onclick=()=>{
        document.execCommand("bold");
    }
    btn2.onclick=()=>{
        hyperlink_bar.removeAttribute("hidden");
        submit_hyper_link.addEventListener("click",function(){
            document.execCommand("createlink",null,hyper_link.value);
            hyper_link.value ="";
            hyperlink_bar.hidden = true;
        })
        cancel_hyper_link.addEventListener("click",function(){
            hyper_link.value ="";
            hyperlink_bar.hidden = true;
        })
    }
    btn3.onclick=()=>{
        img_bar.removeAttribute("hidden");
        submit_img_link.addEventListener("click",function(){
            document.execCommand('insertHTML', 0, '<img src="' + img_link.value + '" alt="' + "add image successfully!" + '" />');
            img_link.value ="";
            img_bar.hidden = true;
        }) 
        cancel_img_link.addEventListener("click",function(){
            img_link.value ="";
            img_bar.hidden = true;
        })    
    }
</script>
 <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="/public/js/travelogue.js"></script> 