<form method="post">
    <div class="form-group">
        <label>Travelogue Title</Title><textarea id="travelogue-title-input" name="travelogueTitle"></textarea></label>
    </div>

    <div class="form-group">
        <label>Travelogue content<textarea id="travelogue-content-input" name="travelogueContent"></textarea></label>
    </div>

    <div class="form-group">
        <button type="submit" class="submit-btn" id="submit" formaction="/travelogues/add">Show your unique experience</button>
    </div>


    <div class="form-group">
        {{#if error}}
        <p class="error">can't add this comment, please try again</p>
        {{/if}}
        {{#if success}}
        <p class="success">add travelogue successfully!</p>
        <h1>{{Travelogue.title}}</h1>

        <p>{{Travelogue.content}}</p>

        {{/if}}
    </div>

</form>