<h1>All travelogue I posted</h1>
    <div>
        <ul>
        {{#each travelogue}}
            <li>{{travelogue.title}}</li>
            <li>{{travelogue.content}}</li>
        {{/each}}
        </ul>
    </div>