<main>
    <div class="search-card-center">
        <h1>Exploring travelogues</h1>
        <p>Find some new idea for your next trip!</p>
        <form id="noteSearch-form" method="POST" action="/attractions/Search">
            <input id="submit-search-note" type="text" name="searchTerm" class = "searchFields" placeholder="some keywords to explore new idea"/>
            <button type="submit" id="serach-button" formaction="/travelogues/result">Find new Idea</button>
        </form>
    </div>
</main>