<link rel="stylesheet" href="/public/styles.css">
<link rel="icon" href="data:image/ico;base64,aWNv">
<div class="not found">Opps!!! Something Wrong -----> errorInfo:{{error}}</div>
<a href="/">back to the main page</a>